# python 3.7.16
absl-py==0.15.0
astunparse==1.6.3
backcall==0.2.0
cachetools==5.3.3
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.3.2
decorator==5.1.1
flatbuffers==1.12
gast==0.3.3
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==3.7
importlib-metadata==6.7.0
ipython==7.34.0
jedi==0.19.1
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
numpy==1.19.5
oauthlib==3.2.2
onnx==1.14.1
onnx-tf==1.7.0
opt-einsum==3.3.0
packaging==24.0
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.43
protobuf==3.20.3
ptyprocess==0.7.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments==2.17.2
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.7.3
six==1.15.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.1
tensorflow-addons==0.12.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
timm==0.3.2
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
traitlets==5.9.0
typeguard==2.8.0
typing-extensions==3.7.4.3
urllib3==2.0.7
wcwidth==0.2.13
Werkzeug==2.2.3
wrapt==1.12.1
zipp==3.15.0
